h1 {
    text-align: center;
    margin-top: 230px;
    font-size: 90px;
}
h1 span:nth-child(1) {
    color:#4285f4;
}
h1 span:nth-child(2) {
    color:#ea4335;
}
h1 span:nth-child(3) {
    color:#fbbc05;
}
h1 span:nth-child(4) {
    color:#4285f4;
}
h1 span:nth-child(5) {
    color:#34a853;
}
h1 span:nth-child(6) {
    color:#ea4335;
}




  

html,body {
          position: relative;
          height: 100%;
          font-family: 'Fredoka One', cursive;
        }
    
    body {
          background-color: #eee3c1;
          font-size: 14px;
          color: #000;
          margin: 0;
          padding: 0;
        }
    
        .swiper {
          width: 75%;
          height: 75%;
          margin-left: auto;
          margin-right: auto;
        }
    
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
    
          /* Center slide text vertically */
          display: flex;
          justify-content: center;
          align-items: center;
          height: calc((100% - 30px) / 2) !important;
        }
section {
            background-image: url('/static/assets/main.jpg');
            background-repeat: no-repeat; 
            width: 100%; 
            height: 300px;
            background-size: cover;
        }
        
header {
            height: 25px;
            width: 100%;
            position: absolute;
            z-index: 100;
          }
          .navbar {
            padding: 8px;
          }