{% extends 'base.html' %}
{% block con %}
<style>
    .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    }

    .card {
    border: 1px solid #fff;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 0rem;
    /* background-color: #3a3a3a;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 1rem; */
    }
    .card-body {
    padding: 0; /* remove default padding */
    }
</style>

<div class ="container-fluid" style="color: black; height: 700px;">

    <!-- 제목 bg-primary rounded-3-->
        <div class="p-1" style="background-color:transparent; color:black;">
            <h1 class="fw-bold">맛집 등록!!</h1>
            <div class="text-center mt-5" style="padding-bottom: 10px;">
                <a  href="{% url 'story:create' %}" class="btn btn-outline-dark" style="float:initial;">맛집 추가하기!</a>
            </div>
         
        </div>
    
        <div class="justify-content-around" style="display: flex;">
            <div class="col-8">
    
                <div class ="container" style="color: black;">
                    <div class="card-grid">
                        {% for book in books %}
                          <div class="card" style="width: 280px; height: auto;">
                            <div class="card-body">
                              {% if book.site_cover %}
                                <img src="{{ book.site_cover.url }}" class="card-img-top" alt="{{ book.site_name }}" width="100%" height="120px">
                              {% else %}
                                <span class="text-muted">No cover</span>
                              {% endif %}
                              <p class="card-text" style="height: 25px; padding-left: 10px; padding-top: 5px;">{{ book.site_con }}</p>
                              <div class="text-center">
                                <a href="{{ book.site_url }}" targer="_blank">바로가기!</a>
                              </div>
                              <div class="text-end" style="padding-bottom: 5px;">
                                
                                <form method="post" action="{% url 'story:delete_book' book.pk %}">
                                    {% csrf_token %} 
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Del</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}